<!DOCTYPE html>
<!--this is a register page for the user to use-->
<html>
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/registers.css' %}">
        
    </head>
    
    <body>
        <h1>Register</h1> <!--This is a register site-->
                
        <form action="" method="post" class="auth-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign UP</button>
        </form>
        <p>ALready have an account?</p><a href="{% url 'user_login' %}">Login here</a>
    </body>
</html>