<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% if messages %}
            {% for message in messages %}
            <p style="color:red;">{{ message }}</p>
            {% endfor %}
        {% endif %}
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'user_logout' %}">Logout</a>
        <h1>Youtube Video Downloader</h1>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.first_name }} {{ user.last_name }}</p>
        {% endif %}
        <form  method="POST">
            {% csrf_token %}
            <label for="link">Enter Youtube URL:</label>
            <input type="text" id="link" name="link" required>
            <input type="submit" value="Download">
        </form>

        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}

        {% if video_url %}
            <h3>Download Successful! 🎉</h3>
            <video width="640" height="360" controls>
                <source src="{{ video_url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        
        {% endif %}
        

    </body>
</html>